<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เข้าสู่ระบบ</title>
    <link rel="icon" type="image/x-icon" href="../../imgs/logoIcon.png">
    <link rel="stylesheet" href="../../css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .formItem {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            width: 300px;
            padding: 20px;
        }

        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .borderBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<form action="login.php" method="post">
    <div class="back">
        <i class='bx bx-chevron-left'></i>
        <a href="#" onclick="history.back()">กลับ</a>
    </div>
    <div class="container">
        <div class="borderBox">
            <h2>เข้าสู่ระบบ</h2>
            <div class="formItem">
                <h4>Username</h4>
                <input type="text" name="username" required>
                <h4>รหัสผ่าน</h4>
                <div style="position: relative;">
                    <input type="password" name="password" id="myInput" required>
                    <i class='bx bxs-low-vision' onclick="showPass()" style="position: absolute; right: 0; top:50%; transform: translate(-50%, -50%); cursor: pointer;"></i>
                </div>
            </div>
            <button type="submit" class="button w100">เข้าสู่ระบบ</button>
            <a href="register.php">สมัครสมาชิก</a>
        </div>
    </div>
</form>
<script src="../js/script.js"></script>
<script>
 function showPass() {
  var myInput = document.getElementById("myInput");
  if (myInput.type === "password") {
    myInput.type = "text";
  } else {
    myInput.type = "password";
  }
}   
</script>
</body>
</html>