<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก</title>
    <link rel="icon" type="image/x-icon" href="../../imgs/logoIcon.png">
    <link rel="stylesheet" href="../../css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .formItem {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            width: 300px;
            padding: 20px;
        }

        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .borderBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<form action="register.php" method="post">
    <div class="back">
        <i class='bx bx-chevron-left'></i>
        <a href="#" onclick="history.back()">กลับ</a>
    </div>
    <div class="container">
        <div class="borderBox">
            <h2>สมัครสมาชิก</h2>
            <div class="formItem">
                <h4>ชื่อ - นามสกุล</h4>
                <input type="text" name="name" required>
                <h4>อีเมล</h4>
                <input type="email" name="email" required>
                <h4>เบอร์โทร</h4>
                <input type="number" name="phone_number" required>
                <h4>Username <span style="color: var(--sky); font-size: 14px;">(ใช้ในการเข้าสู่ระบบ)</span></h4>
                <input type="text" name="username" required>
                <h4>รหัสผ่าน</h4>
                <input type="password" name="password" required>
                <h4>ยืนยันรหัสผ่าน</h4>
                <input type="password" name="confirm_password" required>
            </div>
            <button type="submit" class="button w100">สมัครสมาชิก</button>
        </div>
    </div>
</form>
<script src="../js/script.js"></script>
</body>
</html>